{% extends 'base.html' %}
{% block title %}
    打卡源数据
{% endblock %}
{% block content %}
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>打卡源数据
                    <small>员工打卡情况</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>姓名</th>
                        <th>员工号</th>
                        <th>所属部门</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>王栋</td>
                        <td>101005</td>
                        <td>计统科三班</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>郝建伟</td>
                        <td>101357</td>
                        <td>客运车间</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>何婕</td>
                        <td>101360</td>
                        <td>客运车间</td>
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>张兴</td>
                        <td>1012119</td>
                        <td>运转车间</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>于锁虎</td>
                        <td>1013183</td>
                        <td>客运车间</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>员工打卡情况排名排名
                    <small>不太准确 仅供参考</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                           aria-expanded="false"><i class="fa fa-wrench"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table">
                    <thead>
                    <tr>
                        <th>排名</th>
                        <th>ID</th>
                        <th>姓名</th>
                        <th>按时打卡次数</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>王栋</td>
                        <td>101005</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>郝建伟</td>
                        <td>101357</td>
                        <td>150</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>何婕</td>
                        <td>101360</td>
                        <td>150</td>
                    </tr>
                    </tbody>
                </table>
                在这写
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

{% endblock %}