{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}
{% block main %}
    <!-- top tiles -->
    <div class="row tile_count">
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-user"></i> 当日设备故障数</span>
            <div class="count">2个</div>
            <span class="count_bottom"><i class="green">100% </i>昨日相比 </span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> 当日安全问题</span>
            <div class="count">4起</div>
            <span class="count_bottom"><i class="green"><i
                    class="fa fa-sort-asc"></i>50% </i> 昨日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> 平均出现问题时间</span>
            <div class="count">32分钟</div>
            <span class="count_bottom"><i class="green"><i
                    class="fa fa-sort-asc"></i>3% </i> 昨日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-users"></i> 签到员工比例</span>
            <div class="count">92.7%</div>
            <span class="count_bottom"><i class="green"><i
                    class="fa fa-sort-asc"></i>8.2% </i> 昨日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> 平均解决问题时间</span>
            <div class="count">1.2天</div>
            <span class="count_bottom"><i class="red"><i
                    class="fa fa-sort-desc"></i>12% </i> 与上月同日相比</span>
        </div>
        <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
            <span class="count_top"><i class="fa fa-clock-o"></i> 今日支出</span>
            <div class="count">500元</div>
            <span class="count_bottom"><i class="red"><i
                    class="fa fa-sort-desc"></i>12% </i> 与上月同日相比</span>
        </div>
    </div>
    <!-- /top tiles -->
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>出错频率统计</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="mainPeople" style="height:350px;"></div>

                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>发现问题者比例</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="customer" style="height:350px;"></div>

                </div>
            </div>
        </div>
        <div class="col-md-8 col-sm-8 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>故障词云</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div id="stay" style="height:350px;"></div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block script %}
    <script src="/static/echarts/dist/echarts-wordcloud.js"></script>
    <script type="application/javascript">
        var theme = {
            color: [
                '#26B99A', '#34495E', '#BDC3C7', '#3498DB',
                '#9B59B6', '#8abb6f', '#759c6a', '#bfd3b7'
            ],

            title: {
                itemGap: 8,
                textStyle: {
                    fontWeight: 'normal',
                    color: '#408829'
                }
            },

            dataRange: {
                color: ['#1f610a', '#97b58d']
            },

            toolbox: {
                color: ['#408829', '#408829', '#408829', '#408829']
            },

            tooltip: {
                backgroundColor: 'rgba(0,0,0,0.5)',
                axisPointer: {
                    type: 'line',
                    lineStyle: {
                        color: '#408829',
                        type: 'dashed'
                    },
                    crossStyle: {
                        color: '#408829'
                    },
                    shadowStyle: {
                        color: 'rgba(200,200,200,0.3)'
                    }
                }
            },

            dataZoom: {
                dataBackgroundColor: '#eee',
                fillerColor: 'rgba(64,136,41,0.2)',
                handleColor: '#408829'
            },
            grid: {
                borderWidth: 0
            },

            categoryAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },

            valueAxis: {
                axisLine: {
                    lineStyle: {
                        color: '#408829'
                    }
                },
                splitArea: {
                    show: true,
                    areaStyle: {
                        color: ['rgba(250,250,250,0.1)', 'rgba(200,200,200,0.1)']
                    }
                },
                splitLine: {
                    lineStyle: {
                        color: ['#eee']
                    }
                }
            },
            timeline: {
                lineStyle: {
                    color: '#408829'
                },
                controlStyle: {
                    normal: {color: '#408829'},
                    emphasis: {color: '#408829'}
                }
            },

            k: {
                itemStyle: {
                    normal: {
                        color: '#68a54a',
                        color0: '#a9cba2',
                        lineStyle: {
                            width: 1,
                            color: '#408829',
                            color0: '#86b379'
                        }
                    }
                }
            },
            map: {
                itemStyle: {
                    normal: {
                        areaStyle: {
                            color: '#ddd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    },
                    emphasis: {
                        areaStyle: {
                            color: '#99d2dd'
                        },
                        label: {
                            textStyle: {
                                color: '#c12e34'
                            }
                        }
                    }
                }
            },
            force: {
                itemStyle: {
                    normal: {
                        linkStyle: {
                            strokeColor: '#408829'
                        }
                    }
                }
            },
            chord: {
                padding: 4,
                itemStyle: {
                    normal: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    },
                    emphasis: {
                        lineStyle: {
                            width: 1,
                            color: 'rgba(128, 128, 128, 0.5)'
                        },
                        chordStyle: {
                            lineStyle: {
                                width: 1,
                                color: 'rgba(128, 128, 128, 0.5)'
                            }
                        }
                    }
                }
            },
            gauge: {
                startAngle: 225,
                endAngle: -45,
                axisLine: {
                    show: true,
                    lineStyle: {
                        color: [[0.2, '#86b379'], [0.8, '#68a54a'], [1, '#408829']],
                        width: 8
                    }
                },
                axisTick: {
                    splitNumber: 10,
                    length: 12,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                axisLabel: {
                    textStyle: {
                        color: 'auto'
                    }
                },
                splitLine: {
                    length: 18,
                    lineStyle: {
                        color: 'auto'
                    }
                },
                pointer: {
                    length: '90%',
                    color: 'auto'
                },
                title: {
                    textStyle: {
                        color: '#333'
                    }
                },
                detail: {
                    textStyle: {
                        color: 'auto'
                    }
                }
            },
            textStyle: {
                fontFamily: 'Arial, Verdana, sans-serif'
            }
        };
        if ($("#mainPeople").length) {
            var mainPeopleChart = echarts.init(document.getElementById('mainPeople'), theme);
            mainPeopleChart.showLoading();
            var base = +new Date(2016, 8, 1);
            var oneDay = 24 * 3600 * 1000;
            var date = [];

            var data = [Math.random() * 300];
            var data2 = [Math.random()];

            for (var i = 1; i < 400; i++) {
                var now = new Date(base += oneDay);
                date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'));
                data.push(Math.round((Math.random()) * 20));
                data2Current = Math.random() / 2 + data[i] / 500;
                if (data2Current >= 1) {
                    data2Current = 1
                }
                else if (data2Current <= 0) {
                    data2Current = 0
                }
                data2.push(data2Current);
            }

            option = {
                title: {
                    text: '出错频率',
                },
                tooltip: {
                    trigger: 'axis',
                    position: function (pt) {
                        return [pt[0], '10%'];
                    }
                },
                toolbox: {
                    show: !1
                },
                xAxis: [{
                    type: 'category',
                    boundaryGap: false,
                    data: date
                }],
                yAxis: [{
                    type: 'value',
                    boundaryGap: [0, '100%']
                }, {
                    type: 'value',
                    boundaryGap: [0, '100%']
                }],
                dataZoom: [{
                    start: 0,
                    end: 10,
                }],
                series: [
                    {
                        name: '起',
                        type: 'bar',
                        smooth: true,
                        symbol: 'none',
                        sampling: 'average',
                        data: data
                    },
                    {
                        name: '发生率',
                        type: 'bar',
                        smooth: true,
                        symbol: 'none',
                        sampling: 'average',
                        yAxisIndex: 1,
                        data: data2
                    }
                ]
            };
            mainPeopleChart.setOption(option)
            mainPeopleChart.hideLoading()
        }
        if ($('#customer').length) {

            var echartMiniPie = echarts.init(document.getElementById('customer'), theme);
            echartMiniPie.showLoading();
            MiniPieOption = {
                tooltip: {
                    trigger: 'item',
                    formatter: "{a} <br/>{b}: {c} ({d}%)"
                },
                legend: {
                    orient: 'vertical',
                    x: 'left',
                    data: ['客运车间', '设备车间', '售票车间', '其他']
                },
                series: [
                    {
                        name: '发现问题者',
                        type: 'pie',
                        radius: ['50%', '70%'],
                        avoidLabelOverlap: false,
                        label: {
                            normal: {
                                show: false,
                                position: 'center'
                            },
                            emphasis: {
                                show: true,
                                textStyle: {
                                    fontSize: '30',
                                    fontWeight: 'bold'
                                }
                            }
                        },
                        labelLine: {
                            normal: {
                                show: false
                            }
                        },
                        data: [
                            {value: 335, name: '客运车间'},
                            {value: 310, name: '设备车间'},
                            {value: 234, name: '售票车间'},
                            {value: 32, name: '其他'}
                        ]
                    }
                ]
            };
            echartMiniPie.setOption(MiniPieOption)
            echartMiniPie.hideLoading();
        }
        if ($("#stay").length) {
            var mainPeopleChart = echarts.init(document.getElementById('stay'), theme);
            mainPeopleChart.showLoading();

            function createRandomItemStyle() {
                return {
                    normal: {
                        color: 'rgb(' + [
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160),
                            Math.round(Math.random() * 160)
                        ].join(',') + ')'
                    }
                };
            }

            option = {
                title: {
                    text: '故障词云',
                    link: 'http://www.google.com/trends/hottrends'
                },
                tooltip: {
                    show: true
                },
                series: [{
                    name: '词语频数',
                    type: 'wordCloud',
                    size: ['80%', '80%'],
                    textRotation: [0, 45, 90, -45],
                    textPadding: 0,
                    autoSize: {
                        enable: true,
                        minSize: 14
                    },
                    data: [
                        {
                            name: "管头破损",
                            value: 10000,
                            itemStyle: {
                                normal: {
                                    color: 'black'
                                }
                            }
                        },
                        {
                            name: "开闭杆脱落",
                            value: 6181,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "上水管不能伸缩",
                            value: 4386,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "上水管漏水",
                            value: 4055,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "打印不清",
                            value: 2467,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "不过票",
                            value: 2244,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "灯管坏",
                            value: 1898,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "水阀故障",
                            value: 1484,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "管头坏",
                            value: 1112,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "上水管头破损",
                            value: 965,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "出废票",
                            value: 847,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "黑屏",
                            value: 582,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "切刀坏",
                            value: 555,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "运行中异响",
                            value: 550,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "不能用",
                            value: 462,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "查询机黑屏",
                            value: 366,
                            itemStyle: createRandomItemStyle()
                        },
                        {
                            name: "学生刷卡仪不亮",
                            value: 360,
                            itemStyle: createRandomItemStyle()
                        }
                    ]
                }]
            };

            mainPeopleChart.setOption(option)
            mainPeopleChart.hideLoading()
        }
    </script>
{% endblock %}
