{% extends 'base.html' %}
{% block title %}
    安全问题
{% endblock %}
{% block main %}
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>本月标志性安全问题
                    <small>问题排序</small>
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <table class="table" id="main_table">
                    <thead>
                    <tr>
                        <th>排序</th>
                        <th>安全编号</th>
                        <th>责任部门</th>
                        <th>违反条款</th>
                        <th>发卡类别</th>
                        <th>检查时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for data in datas %}
                        <tr>
                            <th>{{ data.ID }}</th>
                            <th>{{ data.I_SECURITYID }}</th>
                            <th>{{ data.S_RESPONSIBILITYDEPT }}</th>
                            <th>{{ data.S_RISKPOINT }}</th>
                            <th>{{ data.S_HANDLEREASULT }}</th>
                            <th>{{ data.D_CHECKDATE }}</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
{#{% block script %}#}
{#    <script type="application/javascript">#}
{#        main_table = document.getElementById("main_table");#}
{#        $.getJSON('/safe/json').done(function (data) {#}
{#            for (var i = 0; i < data.length; i++) {#}
{#                main_table.insertRow(data[i])#}
{#            }#}
{#        }, 30000)#}
{#    </script>#}
{#{% endblock %}#}